@import "../../Color.scss";

:global {
    .container {
        width: 100%;
        max-width: 1200px;
    }
}

#manage-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background: #f1f2f6;
    border: 3px solid #2f3542;
    border-radius: 30px;
    min-height: 480px;
    width: 100%;
    max-width: 1200px;

    .title {
        font-size: 1.4rem;
        font-family: Permanent Marker;
        font-weight: bold;
        text-align: center;
    }

    .box-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        max-height: 400px;
        font-family: Roboto;
        font-size: 1.2rem;
        font-weight: bold;

        & > * + * {
            margin-top: 10px;
            flex: auto;
        }

        img {
            object-fit: contain;
            max-width: 100%;
            max-height: 350px;
            margin-bottom: 10px;
        }
    }
    
    .box-table {
        border: 1px solid black;
        overflow-y: auto;
        max-height: 200px;
    }

    table {
        overflow: auto;
        border-collapse: collapse;
        width: 100%;
        text-align: left;

        th, td {
            padding: 2px 8px;
        }
        th {
            padding-top: 4px;
        }
        tr > * + * {
            border-left: 1px solid black;
        }

        thead tr {
            background: #737375;
            border-bottom: 1px solid black;
        }
        
        tbody tr:nth-child(2n) {
            background: #D7D8DB;
        }
        tbody tr:nth-child(2n+1) {
            background: #B1B2B5;
        }
        tbody tr:hover {
            cursor: pointer;
            background: #737375;
        }
        
    }
}