.card {
    cursor: pointer;
    font-family: Lato;
    color: white;
    display: grid;
    border: 2px solid black;

    grid-template-rows:  auto 58px 0px;
    grid-template-areas: "image" "title" "description";
    
    width: 480px;
    height: 300px;
    
    .title {
        grid-area: title;
        z-index: 1;
        background-color: black;
        grid-row: 2;
        background-color: #34495eDD;

        h3 {
            margin: auto;
            text-align: center;
            margin-top: 10px;
            font-size: 1.3rem;
            font-family: Roboto;
        }
        h3::after
        {
            content: "";
            display: block;
            width: 50px;
            height: 6px;
            z-index: 3;
            background: #d35400;
            background: #2c3e50;
            margin: 8px auto 0 auto;
            border-radius: 10px;
            transition: all 2s;
        }
    }
    .description {
        background-color: #2c3e50DD;
        grid-area: description;
        display: none;
        z-index: 1;
        grid-row: 3;
        padding: 10px;
        overflow: hidden;
        p {
            margin: auto;
            text-align: center;
        }
    }
    .image{
        grid-area: image;
        grid-row: 1/4;
        z-index: 0;
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    &:hover {
        grid-template-rows: 0fr 58px 4fr;
        .description {
            display: flex;
            font-size: 1.1rem;
            font-family: Roboto;
            justify-content: center;
            align-items: center;
        }
    }
}
