$bd-blue-color: #0fbcf9;
$bg-blue-color: #4bcffa;
$bd-orange-color: #ffa801;
$bg-orange-color: #ffc048;
$bd-red-color: #ff3f34;
$bg-red-color: #ff5e57;
$bd-green-color: #05c46b;
$bg-green-color: #0be881;